*{
  box-sizing: border-box;
}

.under{
  margin: 200px 0 0 200px;
  font-size: 50px;
}

/* menu glowne */

nav{
  width: 100%;
  margin: 0 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  border:1px solid #CCC;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

nav ul{
  list-style-type:none;
  margin: 10px auto 0;
  padding:0;
  width: 80%;
}

nav ul li{
  border:2px solid transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li:hover{
  border-bottom:2px solid #86BED1;
}

nav ul li a{
  display: inline-block;
  text-decoration:none;
  color: #000;  
  margin: 0;
  padding: 10px;
}

nav ul li .fa{
  display: none;
}

nav ul li .fa-home{
  display: inline-block;
}


/* menu druzyny */

.ball{
  display: inline-block;
  margin: 0 10px 0 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: solid 1px #2E2E2E;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  vertical-align: sub;
}

.ball:hover{
  border: solid 1px #404040;
}

.team{
  background-color:#EEE;
}

.teams{
  position: relative;
  top: 60px;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

.teams ul {
  list-style-type:none;
  margin:0;
  padding:0;
  
  border:1px solid #CCC;
}

.teams ul li {
  border-top:1px solid #CCC;
}

.teams ul li:first-child {
  border-top:none;
}

.teams ul li a:first-child {
  padding: 0 0 0 10px;
  width: 75%;
  display:inline-block;
  text-decoration:none;
  color: #777;
  border:1px solid transparent;
  border-right: 1px solid #CCC;
}

.teams ul li a:first-child:hover{
  color: #404040;
}

.teams ul li a:last-child{
  width: 25%;
  display:inline-block;
  padding: 11px;
  text-align: center;
  text-decoration: none;
  /* color:#00A0AA; */
  color: #777;
}

.teams ul li a:last-child:hover{
  color: #404040;
}

.teams ul li a:last-child:before{
  font-family: 'FontAwesome';
  content:"\f03a";
}

/*rozwijane menu*/
.tournaments{
  border-bottom: 1px solid #CCC;
  margin: 2px 0;
}

.gold{
  color: #FFDD00;
}

.silver{
  color: #CFCFCF;
}

.bronze{
  color: #915500;
}

.stats{
  display: inline-block;
	width: 100%;
	background-color: #EEE;
	margin: 0;
	padding: 15px 15px 5px 5px;
}

.statsHide{
  display: none;
}

.statsShow{
  display: inline-block;
}

.window{
  position: relative;
	display: inline-block;
	width: 50%;
	margin: 0;
	padding: 5px 15px;
  border: 1px solid #CCC;
	background-color: #F7F7F7;
}

.triangleBorder{
  position: absolute;
  top: -11px;
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 11px 10px;
  border-color: transparent transparent #CCC transparent;
}

.triangle{
  position: absolute;
  top: 2px;
  left: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 10px 9px;
  border-color: transparent transparent #F7F7F7 transparent;
}

.tournament{
  color: #404040;
  display: inline-block;
  padding: 0 0 0 10px;  
  width: 165px;
}

.tournamentTitle{
  color: #404040;
  position: relative;
  display: inline-block;
  width: 37px;
}

.tournamentTitleFirst{
  color: #404040;
  position: relative;
  display: inline-block;
}

.tournamentWindow{
  position: absolute;
  top: 19px;
  left: 0px;
  width: 44px;
  text-align: center;
  background-color: #EEE;
  border: 1px solid #A1A1A1;
  border-radius: 3px;
  padding: 2px 5px;
  z-index: 5;
}

/********************************** Team ************************************/

#team{
  position: relative;
  top: 60px;
  margin: 0 auto 0;
  width: 80%;
  border: 1px solid #CCC;
  background-color: #EEE;
}

#team h3{
  margin: 0;
  text-align: center;
}

#team ul{
  margin: 0;
  list-style-type: none;
}

H3{
  font-size: 1.7em;
}

#team .people{
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

#team .people .peopleLi:first-child{
  border-bottom: 1px solid #CCC;
}

#coach, #player{
  padding: 5px 0 5px 10px;
}

#coach li, #player li{
  margin: 2px 0 0 15px;
}

#coach li:first-child, #player li:first-child{
  margin-left: 0;
}

.name{
  cursor: pointer;
}

.name:hover{
  color: #404040;
}

.detail{
  margin-left: 0 !important;
  padding: 15px 0 10px 10px;
  /*border-bottom: 1px solid #CCC;*/
  width: 95%;
}

.detail:last-child{
  border-bottom: none;
}

.spanDetails{
  display: block;
  margin: 2px 0;
  padding: 0 0 0 15px;
  border-bottom: 1px solid #CCC;
}

.spanDetailsValue{
  width: 45%;
  display: inline-block;
}

/********************************** /Team ***********************************/

@media (max-width: 480px){
  nav ul li a span{
    display: none;
  }
  
nav ul li .fa{
    display: inline-block;
    margin: 0 5px;
  }

  nav ul li a i{
    display: inline-block;
    margin: 0 5px;
  }
  
  .teams{
    width: 100%;
  }
}
